<div class="siteheader" role="banner">
    <a href="{{ '/' | url }}" class="h5-like">
        {{ meta.siteName }}
    </a>
</div>

<nav>
    {% for tag, pages in collections.all | groupby("data.tags") | dictsort %}
    <h3>{{ tag }}</h3>
    <ul>
        {% for page in pages | sort(attribute="data.order") %}
        <li>
            <a href="{{ page.url | url }}">
                {% if page.data.icon %}
                <i class="fas fa-{{ page.data.icon }}"></i>
                {% else %}
                <i>&nbsp;&nbsp;&nbsp;&nbsp;</i>
                {% endif %}
                {{ page.data.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</nav>


