# ignore all, then uningnore
*

!README.md
!4hyp1r_4hyp1r.md
!.gitignore
!package.json 
!eleventy.config.js
!assets/
!assets/**
assets/pdf/2024CahierDesChargesVirtualisation_FMA_01.pdf 
assets/img/esi-hotes.png
!src/
!src/**

!.nojekyll
!.github
!.github/** 
